<!--<app-header></app-header>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Edition Enseignant</div>
        <div class="panel-body" *ngIf="currentTeacher">
            <form #f="ngForm" (ngSubmit)="onUpdateTeacher(f.value)">
                <div class="form-group" style="display:none">
                  <label class="control-label">ID</label>
                  <input class="form-control" type="number" name="id" ngModel [(ngModel)]="currentTeacher.id">
                </div>
                <div>
                  <label class="control-label">Nom</label>
                  <input class="form-control" type="text" name="firstname" ngModel [(ngModel)]="currentTeacher.firstname">
                </div>
                  <div class="form-group">
                 <label class="control-label">Prénom</label>
                 <input class="form-control" type="text" name="lastname" ngModel [(ngModel)]="currentTeacher.lastname" >
               </div>
               <div class="form-group">
                 <label class="control-label">Email</label>
                 <input class="form-control" type="text" name="email" ngModel [(ngModel)]="currentTeacher.email">
               </div>
               <div class="form-group">
                 <label class="control-label">Numéro de tél</label>
                 <input class="form-control" type="text" name="phone" ngModel [(ngModel)]="currentTeacher.phone">
               </div>
               <button class="btn btn-success" type="submit">Mettre à jour</button>
              </form>
        </div>
    </div>
</div>

<app-footer></app-footer>-->
