/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-logout, .btn-login:hover
{
    font-size: 1em;
    cursor: pointer; color: rgb(35, 182, 35);
}

 .btn-login, .btn-logout:hover{
   color: rgb(243, 11, 11)
}
.connexion{
    margin: 1px;
    text-align: end; 
    font-weight: bold;
    font-size: 1.3em;
}
