<section class="footer">
    <div class="container-fluid">
    <div class="row justify-content-between">
        <ul>
          <li>mention legales</li>
          <li>mention legales</li>
          <li>mention legales</li>
        </ul>
        <ul class="fg mx-3">
          <li>mention legales</li>
          <li>mention legales</li>
          <li>mention legales</li>
        </ul>
    </div>
  </div>
  <div class="droit text-center">
    &copy;2021 créer par saddik soufiane
  </div>
  </section>
