

<section class="header">
  <div class="logo">
<img src="../assets/img/logo.jpg" alt="">
 <div class="marquee-rtl">
  <div><b>Bonjour sur l'application Web de l'école primaire UNIVER DU SAVOIR
    nous somme le : {{ today| date: 'EEEE dd MMMM y'}}
  </b></div>
</div>
<img  src="../assets/img/logo.jpg" alt="">
</div>
</section>


<!-- <button (click)="onGetParents()">liste parents</button>
<button>ajouter</button>
  <div class="panel-body">
    <table  class="table table-striped" *ngIf="listeParents">
      <tr>
      <th> ID </th><th> firstname </th><th> lastname </th><th> email </th><th> adress </th><th> phone </th>
    </tr>
    <tr *ngFor="let p of listeParents._embedded.parents">
      <td>{{p.id}}</td>
      <td>{{p.firstname}}</td>
      <td>{{p.lastname}}</td>
      <td>{{p.email}}</td>
      <td>{{p.address}}</td>
      <td>{{p.phone}}</td>

    <td>
    <button >mettre à jour</button>
    <button >supprimer</button></td>
 </tr>
    </table>
    </div> -->
