<app-header></app-header>
<section class="body">
 <div class="container-fluid">
      <div class="row nav">
      <a class="btn" (click)="onAddTeacher()">Ajouter un Enseignant</a>       
      <a class="btn" (click)="onGetListTeachers()">Liste des Enseignants</a> 
    </div>

<!----------------- AFFICHER LISTE ENSEIGNANTS / CHERCHER ENSEIGNANT PAR NOM ------------------------>
        <div class="panel-body" *ngIf="mode==3">
              <div class="row "  *ngIf="showMsg">
                    <div class="col-md-6">
                      <p class="alert alert-success">
                          <strong>{{msg}}</strong>
                      </p>
                    </div>
                  </div>
            <div class="search text-right mx-5">
              <label for="">Recherche d'un enseiganant :<i class="fas fa-search"></i> </label>
              <input type="text" (keyup)="onSearch()" [(ngModel)]="search" placeholder="Nom de l'enseignnat">
            </div>  
                  <div class="container clo-md-12 col-xs-6">
          <table class="table" *ngIf="teachers">
            <caption>Listes des enseignants</caption>
            <thead>
            <tr>
              <th>nom</th><th>prénom</th><th>Email</th><th>numéro de tél</th>
            </tr>
          </thead>
          <tbody>
       <tr *ngFor="let e of resultSearch| paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };let i = index" [class.active]="i == currentIndex">  
              <td>{{e.firstname | uppercase}}</td>
              <td>{{e.lastname | titlecase}}</td>
              <td>{{e.email}}</td>
              <td>{{e.phone}}</td>
        <td> <a class="btn btn-delete" (click)="onDeleteTeacher(e)"><i class=" fas fa-trash-alt fa-2x"></i>Supprimer</a></td>
        <td><a class="btn btn-edit" (click)="onEditTeacher(e)"><i class="far fa-edit fa-2x"></i>Modifier</a> </td>
        </tr> 
        </tbody>
          </table> 
          <div class="d-flex justify-content-center">
            <pagination-controls 
              previousLabel="Precédant" 
              nextLabel="Suivant" 
              (pageChange)="onTableDataChange($event)">
            </pagination-controls>
     </div>
        </div> 
    </div>
     </div>

<!----------------- AFFICHER LE FORMULAIRE POUR AJOUTER UN ENSEIGNANT ---------------->

   <div  class="panel-body" *ngIf="mode==2">
        <div class="container col-8" >
        <h3 class="text-center">Ajouter un nouveau enseignant</h3>
            <div class="jumbotron">
                <div class="panel-body">
                  <div class="panel panel-default">
                    
                      <form  #form="ngForm" (ngSubmit)="onSaveTeacher(form.value)">
                        <div class="form-group">
                          <label class="control-label">Nom</label>
                          <input minlength="2" class="form-control" 
                          [(ngModel)]="teacher.firstname" #firstname="ngModel"
                          [ngClass]="{ 'is-invalid': form.submitted && firstname.invalid }" type="text" name="firstname" required >
                          <div class="invalid-feedback" *ngIf="form.submitted && firstname.invalid">
                            <!-- <p *ngIf="firstname.errors.required">firstName is required</p> -->
                          </div>
                    </div>
                            
                        <div class="form-group">
                          <label class="control-label">Prénom</label>
                          <input minlength="3" class="form-control" type="text" name="lastname"[(ngModel)]="teacher.lastname" #lastname="ngModel" [ngClass]="{ 'is-invalid': form.submitted && lastname.invalid }" required >
                          <div class="invalid-feedback" *ngIf="form.submitted && lastname.invalid">
                            <!-- <p *ngIf="lastname.errors.required">lastName is required</p> -->
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Email</label>
                          <input class="form-control" placeholder="champ obligatoire" type="text" [(ngModel)]="teacher.email" name="email" #email="ngModel" [ngClass]="{ 'is-invalid':email.invalid }" email required>
                          <div *ngIf="email.invalid" class="invalid-feedback">
                           <!-- <div *ngIf="is-invalid">Email is required</div> -->
                    
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Numéro de tél</label>
                          <input class="form-control" type="text" name="phone" [(ngModel)]="teacher.phone"  #phone="ngModel" minlength="14" maxlength="14" phone required>
                        </div>
                        <button class="btn btn-success" [disabled]="!form.valid" type="submit">Enregistrer</button>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
                </div>

  <!----------------- AFFICHER LES INFORMATIONS AJOUTER DU NOUVEAU ENSEIGNANT  ---------------->
        <!-- <div class="panel-body" *ngIf="mode==1">
          <div class="form-groupe">
            <label>id : </label>
            <label>{{currentTeacher.id}}</label>
          </div>
          <div class="form-groupe">
            <label>Nom :</label>
            <label>{{currentTeacher.firstname}}</label>
          </div>
          <div class="form-groupe">
            <label>Prénom :</label>
            <label>{{currentTeacher.lastname}}</label>
          </div>
          <div class="form-groupe">
            <label>Email :</label>
            <label>{{currentTeacher.email}}</label>
          </div>
          <div class="form-groupe">
            <label>Numéro de tél :</label>
            <label>{{currentTeacher.phone}}</label>
          </div>
          <div>
            <button class="btn btn-primary" routerLink="">Accueil admin</button>
          </div>
        </div>  -->
        
  <!---------------------  METTRE A JOUR UN ENSEIGNANT  ---------------->
  
  <div class="panel-body" *ngIf="mode==4">
        <div class="container">
          <div class="panel panle-default" >
              <div class="panel-heading">Edition Enseignant</div>
              <div class="panel-body" *ngIf="currentTeacher">
                  <form #f="ngForm" (ngSubmit)="onUpdateTeacher(f.value)">
                      <div class="form-group" style="display:none">
                        <label class="control-label">ID</label>
                        <input class="form-control" type="number" name="id" ngModel [(ngModel)]="currentTeacher.id">
                      </div>
                      <div>
                        <label class="control-label">Nom</label>
                        <input class="form-control" type="text" name="firstname" ngModel [(ngModel)]="currentTeacher.firstname">
                      </div>
                        <div class="form-group">
                      <label class="control-label">Prénom</label>
                      <input class="form-control" type="text" name="lastname" ngModel [(ngModel)]="currentTeacher.lastname" >
                    </div>
                    <div class="form-group">
                      <label class="control-label">Email</label>
                      <input class="form-control" type="text" name="email" ngModel [(ngModel)]="currentTeacher.email">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Numéro de tél</label>
                      <input class="form-control" type="text" name="phone" ngModel [(ngModel)]="currentTeacher.phone">
                    </div>
                    <button class="btn btn-success" type="submit">Mettre à jour</button>
                    </form>
              </div>
          </div>
      </div>
        </div>

    </section>
<app-footer></app-footer>