<app-header></app-header>
<!-- <div class="container col-8">
<h2 class="text-center">Ajouter un nouveau enseignant</h2>
<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>l'enseignant {{currentTeacher.firstname}} a été ajouter avec Success!</strong>
    </p>
  </div>
</div>
    <div class="jumbotron">
        <div class="panel-body">
           <div class="panel panel-default">
             <div  class="panel-body" *ngIf="mode==false">
               <form #f="ngForm" (ngSubmit)="onSaveTeacher(f.value)">
                
                 <div class="form-group">
                   <label class="control-label">Nom</label>
                   <input class="form-control" type="text" name="firstname" required ngModel>
                 </div>
                 <div class="form-group">
                  <label class="control-label">Prénom</label>
                  <input class="form-control" type="text" name="lastname" required ngModel>
                </div>
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input class="form-control" type="text" name="email" required ngModel>
                </div>
                <div class="form-group">
                  <label class="control-label">Numéro de tél</label>
                  <input class="form-control" type="text" name="phone" required ngModel>
                </div>
                <button class="btn btn-success" type="submit">Enregistrer</button>
               </form>
             </div>

<div class="panel-body" *ngIf="mode==true">
  
  <button class="btn btn-primary" (click)="onNewTeacher()">nouveau enseignant</button>
  <div class="form-groupe">
    <label>id : </label>
    <label>{{currentTeacher.id}}</label>
  </div>
  <div class="form-groupe" >
    <label>Nom :</label>
    <label>{{currentTeacher.firstname}}</label>
  </div>
  <div class="form-groupe">
    <label>Prénom :</label>
    <label>{{currentTeacher.lastname}}</label>
  </div>
  <div class="form-groupe">
    <label>Email :</label>
    <label>{{currentTeacher.email}}</label>
  </div>
  <div class="form-groupe">
    <label>Numéro de tél :</label>
    <label>{{currentTeacher.phone}}</label>
  </div>
  <div>
    <button class="btn btn-primary" routerLink="/enseignant">liste des enseignants</button>
    <button class="btn btn-primary" routerLink="">Accueil admin</button>
  </div>
</div>          
</div>
</div>
</div>
</div> -->
<app-footer></app-footer>