
  <!-- <div *ngIf="authService.isAdmin()" > -->
<app-header></app-header>
    <section class="body">
      <div class="connexion">
      <a class="btn-logout" (click)="onLogout()">DECONNEXION<i class="fas fa-sign-out-alt"></i></a>
      </div>
      <h5 class="display-4 text-center">Bonjour nom de l'admin</h5>
        <div class="container mt-5"> 
      <div class="jumbotron">
         <div class="row">
          <a class="btn" role="button" routerLink="/enseignant">Enseignants</a>
          <a class="btn" routerLink="/eleve" role="button">Eleves</a>
         </div>
          <div class="row">
          <a class="btn" routerLink="/classe" role="button">Classes</a>
          <a class="btn" routerLink="/planning" role="button">Plannings</a>
        </div>
      </div>
      </div>
      </section>
      <app-footer></app-footer>
      <!-- </div> -->