
<app-header></app-header>
<section class="body">
<div class="connexion">
  <a class="btn-login" (click)="onLogin()" routerLink="/connexion">CONNEXION<i class="fas fa-sign-in-alt"></i></a>
</div>
<div class="container justify-content-center text-center my-5">
    <h1>L’intérêt d’une application web pour les écoles maternelles</h1>
 <div class="container d-flex justify-content-center  my-5">
<div class="row ">
    <div class="card">
        <img class="card-img-top" src="../assets/img/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Un intérêt certain</h5>
          <p class="card-text">Facile, Pratique, Rapide et Rassurante en tous lieux et tous moments.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/img/img2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Les parents des écoles maternelles</h5>
          <p class="card-text">Les parents de vos élèves sont jeunes. Ils ont de la génération internet et mobile !!!.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/img/img3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Donner de la mobilité aux parents</h5>
          <p class="card-text">Permettre aux parents d’accéder à toutes les informations utiles.</p>
        </div>
      </div>
</div>
</div>
<div class="container d-flex justify-content-center my-5 ">
    <div class="row ">
        <div class="card">
            <img class="card-img-top" src="../assets/img/img1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Un concentré d’informations</h5>
              <p class="card-text">Le site internet et l’application mobile sont un concentré d’informations et de renseignements utiles.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../assets/img/img2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Un site portail dans une application</h5>
              <p class="card-text">Une facilité d’utilisation pour favoriser la vie de vos équipes éducatives, de vos collaborateurs, de vos partenaires et des parents d’élèves.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../assets/img/img3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Chaque école aura son site internet et son application mobile</h5>
              <p class="card-text">Informer – Renseigner – Communiquer – Protéger –</p>
            </div>
          </div>
    </div>
    </div>
  </div>
</section>

<app-footer></app-footer>